.navbar-brand {
    color: #a6c76c!important;
}
.left-contact i {
    color: #a6c76c;
}
.topbar-login-info a span:hover {
    color: #a6c76c;
}
.topbar-login-info a span:hover {
    color: #a6c76c;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #a6c76c;
}
.cart-option ul li i:hover {
    color: #a6c76c;
}
.ban-btn .btn:hover {
    background-color: #a6c76c;
    border: 2px solid #a6c76c;
}
.product-main ul li a::after {
    background-color: #a6c76c;
}
.product-cart p {
    background-color: #a6c76c;
}
.deal-purchase a:hover {
    background-color: #a6c76c;
    border: #a6c76c;
}
.top-sell-menu ul li::after {
    background-color: #a6c76c;
}
.product-cart p {
    background-color: #a6c76c;
}
.blog-inner-content a {
    color: #a6c76c;
}
.blog-inner-content a:hover {
    background-color: #a6c76c;
}
.blog-button a:hover {
    background-color: #a6c76c;
    border: #a6c76c!important;
}
.deal-form a:hover {
    color: #a6c76c;
}
.service-inner-font i {
    color: #a6c76c;
}
.footer-logo h4 {
    color: #a6c76c;
}
.footer-icon i:hover {
    color: #a6c76c;
}
.blog-inner-content a::after {
    background-color: #a6c76c;
}
.deal-form a {
    background-color: #a6c76c;

}
.footer-icon i {
    background-color: #a6c76c;
}
.footer-second-inner-content a:hover {
    color: #a6c76c;
}
